{% load staticfiles %}
<header class="header-style-1">

	<!-- ============================================== TOP MENU ============================================== -->
	<div class="top-bar animate-dropdown">
		<div class="container">
			<div class="header-top-inner">

				{% if request.user.is_authenticated  and  request.user.is_active %}
				<div class="cnt-account">
					<ul class="list-unstyled">
						<li><a href="{% url 'account:home' %}"><i class="icon fa fa-user"></i>My Account</a></li>
						{% if request.user.is_staff %}
						<li><a href="{% url 'sales-analytics' %}"><i class="icon fa fa-user"></i>Admin</a></li>
						{% endif %}
						<li><a href="{% url 'cart:home' %}"><i class="icon fa fa-shopping-cart"></i>My Cart</a></li>
						<li><a href="#"><i class="icon fa fa-check"></i>{{request.user}}</a></li>
						<li><a href="{% url 'logout' %}"><i class="icon fa fa-lock"></i>logout</a></li>
					</ul>
				</div>
				{% else  %}
				<div class="cnt-account">
					<ul class="list-unstyled">
						<li><a href="#"><i class="icon fa fa-heart"></i>Wishlist</a></li>
						<li><a href="{% url 'cart:home' %}"><i class="icon fa fa-shopping-cart"></i>My Cart</a></li>
						<li><a href="{% url 'cart:checkout' %}"><i class="icon fa fa-check"></i>Checkout</a></li>
						<li><a href="{% url 'register' %}"><i class="icon fa fa-lock"></i>Register</a></li>
						<li><a href="{% url 'login' %}"><i class="icon fa fa-lock"></i>Login</a></li>
					</ul>
				</div>
				{% endif %}
				<div class="cnt-block">
					<ul class="list-unstyled list-inline">
						<li class="dropdown dropdown-small"> <a href="#" class="dropdown-toggle"
							data-hover="dropdown" data-toggle="dropdown"><span class="value">USD </span><b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">USD</a></li>
								<li><a href="#">INR</a></li>
								<li><a href="#">GBP</a></li>
							</ul>
						</li>
					</ul>
					<!-- /.list-unstyled -->
				</div>
				<!-- /.cnt-cart -->
				<div class="clearfix"></div>
			</div>
			<!-- /.header-top-inner -->
		</div>
		<!-- /.container -->
	</div>
	<!-- /.header-top -->
	<!-- ============================================== TOP MENU : END ============================================== -->
	<div class="main-header">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
					<!-- ============================================================= LOGO ============================================================= -->
					<div class="logo"> <a href="{% url 'home' %}"> <img src="{% static 'assets/images/logo4.png' %}"  alt="logo"> </a> </div>
					<!-- /.logo -->
					<!-- ============================================================= LOGO : END ============================================================= --> </div>
				<!-- /.logo-holder -->

				<div class="col-xs-12 col-sm-12 col-md-7 top-search-holder">
					<!-- /.contact-row -->
					<!-- ============================================================= SEARCH AREA ============================================================= -->
					{% include 'search/snippets/search-form1.html' %}
					<!-- /.search-area -->
					<!-- ============================================================= SEARCH AREA : END ============================================================= --> </div>
				<!-- /.top-search-holder -->

				<div class="col-xs-12 col-sm-12 col-md-2 animate-dropdown top-cart-row">
					<!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->

					<div class="dropdown dropdown-cart"> <a href="#" class="dropdown-toggle lnk-cart" data-toggle="dropdown">
						<div class="items-cart-inner">
							<div class="basket"> <i class="glyphicon glyphicon-shopping-cart"></i> </div>
							<div class="basket-item-count navbar-cart-count"><span class="count">{{ request.session.cart_items }}</span></div>
							<div class="total-price-basket"> <span class="lbl">In cart</span> <span class="total-price">
								<!-- <span class="sign">$</span> -->
								<span class="value navbar-cart-count-total">
								</span> </span> </div>
						</div>
						</a>
						<ul class="dropdown-menu">
							<li>
								<div class="cart-item product-summary">
									<div class="row">
										{% for product in cart.products.all %}
										<div class="col-xs-4">
											<div class="image"> <a href="detail.html"><img src="{{product.image.url}}" alt=""></a> </div>
										</div>
										<div class="col-xs-7">

											<h3 class="name"><a href="index.php?page-detail">{{product.title}}</a></h3>
											<div class="price">{{product.price}}</div>

										</div>
										<div class="col-xs-1 action"> <a href="#"><i class="fa fa-trash"></i></a> </div>
										{% endfor %}
									</div>
								</div>
								<!-- /.cart-item -->
								<div class="clearfix"></div>
								<hr>
								<div class="clearfix cart-total">
									<div class="pull-right"> <span class="text">Cart Items Total :</span><span class='price'>
											{% if request.session.cart_items %} {{request.session.cart_items}} products {% else %} {{request.session.cart_items}} no products {% endif %}
									</span> </div>
									<div class="clearfix"></div>
									<a href="checkout.html" class="btn btn-upper btn-primary btn-block m-t-20">Checkout</a> </div>
								<!-- /.cart-total-->

							</li>
						</ul>
						<!-- /.dropdown-menu-->
					</div>
					<!-- /.dropdown-cart -->

					<!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= --> </div>
				<!-- /.top-cart-row -->
			</div>
			<!-- /.row -->

		</div>
		<!-- /.container -->

	</div>
	<!-- /.main-header -->

	<!-- ============================================== NAVBAR ============================================== -->
	<div class="header-nav animate-dropdown">
		<div class="container">
			<div class="yamm navbar navbar-default" role="navigation">
				<div class="navbar-header">
			 <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
			 <span class="sr-only">Toggle navigation</span> <span class="icon-bar">
			 </span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				</div>
				<div class="nav-bg-class">
					<div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
						<div class="nav-outer">
							<ul class="nav navbar-nav">
								<li class="active dropdown yamm-fw"> <a href="{% url 'home' %}" data-hover="dropdown"
									class="dropdown-toggle" data-toggle="">Home</a> </li>
								<li class="dropdown yamm mega-menu"> <a href="{% url 'home' %}"
									 data-hover="dropdown" class="dropdown-toggle"
										data-toggle="">Sell CDs, DVDs & Games</a>
									<ul class="dropdown-menu container">
										<li>

										</li>
									</ul>
								</li>
								<li class="dropdown mega-menu">
								<a href="{% url 'products:list' %}"  data-hover="dropdown" class="dropdown-toggle"
								data-toggle="">Sell Books <span class="menu-label hot-menu hidden-xs">hot</span> </a>
									<ul class="dropdown-menu container">
										<li>

											<!-- /.yamm-content --> </li>
									</ul>
								</li>
								<li class="active dropdown yamm-fw"> <a href="{% url 'products:list' %}" data-hover="dropdown"
									class="dropdown-toggle" data-toggle="">Products</a> </li>
								<li class="active dropdown yamm-fw"> <a href="{% url 'products:list' %}" data-hover="dropdown"
									class="dropdown-toggle" data-toggle="">Sell Tech</a> </li>

								<li class="active dropdown yamm-fw"> <a href="{% url 'products:list' %}" data-hover="dropdown"
									class="dropdown-toggle" data-toggle="">Sell LEGO</a> </li>

								<li class="active dropdown yamm-fw"> <a href="{% url 'products:list' %}" data-hover="dropdown"
									class="dropdown-toggle" data-toggle="">Free App</a> </li>

								<li class="active dropdown yamm-fw"> <a href="{% url 'home' %}" data-hover="dropdown"
									class="dropdown-toggle" data-toggle="">How it work</a> </li>


								<li class="dropdown"> <a href="{% url 'home' %}" class="dropdown-toggle"
									data-hover="dropdown" data-toggle="">BLog</a>

								</li>
								<!-- <li class="dropdown  navbar-right special-menu"> <a href="#">Todays offer</a> </li> -->
							</ul>
							<!-- /.navbar-nav -->
							<div class="clearfix"></div>
						</div>
						<!-- /.nav-outer -->
					</div>
					<!-- /.navbar-collapse -->

				</div>
				<!-- /.nav-bg-class -->
			</div>
			<!-- /.navbar-default -->
		</div>
		<!-- /.container-class -->

	</div>
	<!-- /.header-nav -->
	<!-- ============================================== NAVBAR : END ============================================== -->

</header>
