{% extends 'dashboard/base_admin.html' %}

{% block content %}

<section class="panel">
	<header class="panel-heading">
		<div class="panel-actions">
			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
			<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
		</div>

		<h2 class="panel-title">Activated users</h2>
	</header>
	<div class="panel-body">
		<table class="table table-bordered table-striped mb-none" id="datatable-default">
			<thead>
				<tr>
					<th>N°</th>
					<th>user name</th>
					<th>email</th>
					<th>active</th>
					<th>last_login</th>
				</tr>
			</thead>
			<tbody>
				{% for customer in customers %}
				{% if not customer.user.is_admin and customer.user.is_active %}
				<tr class="gradeX">
					<td>{{forloop.counter0}}</td>
					<td>{{customer.user.full_name}}</td>
					<td><b>{{customer.email}}</b></td>
					<td>{% if customer.user.is_active %}
						<button type="button" class="mb-xs mt-xs mr-xs btn btn-primary">Active</button>
						{% endif %}</td>
					<td>
						{% if customer.user.last_login is not None %}
							{{customer.user.last_login}}
						{% else %}
							not yet connected
						{% endif %}
					</td>
				</tr>
				{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
</section>


<section class="panel">
	<header class="panel-heading">
		<div class="panel-actions">
			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
			<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
		</div>

		<h2 class="panel-title">Inctivated users</h2>
	</header>
	<div class="panel-body">
		<table class="table table-bordered table-striped mb-none" id="datatable">
			<thead>
				<tr>
					<th>N°</th>
					<th>user name</th>
					<th>email</th>
					<th>active</th>
					<th>last_login</th>
				</tr>
			</thead>
			<tbody>
				{% for customer in customers %}
				{% if not customer.user.is_admin and not customer.user.is_active %}
				<tr class="gradeX">
					<td>{{forloop.counter}}</td>
					<td>{{customer.user.full_name}}</td>
					<td><b>{{customer.email}}</b></td>
					<td>{% if not customer.user.is_active %}
						<button type="button" class="mb-xs mt-xs mr-xs btn btn-warning">pending...</button>
						{% endif %}</td>
					<td>
						{% if user.last_login is None  %}
									{{customer.user.last_login}}
						{% else %}
								not activated yet
						{% endif %}

					</td>

				</tr>
				{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
</section>




{% endblock %}
