{% extends 'dashboard/base_admin.html' %}

{% block content %}

<section class="panel">
	<header class="panel-heading">
		<div class="panel-actions">
			<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
			<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
		</div>

		<h2 class="panel-title">{{title}}</h2>
	</header>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-bordered table-striped table-condensed mb-none">
				<thead>
					<tr>
						<th>N°</th>
						<th>user</th>
						<th class="text-right">order id</th>
						<th class="text-right">status</th>
						<th class="text-right">shipping total</th>
						<th class="text-right">Total</th>
					</tr>
				</thead>
				<tbody>
					{% for order in orders %}
					<tr>
						<td>{{forloop.counter}}</td>
						<td>{{order.billing_profile}}</td>
						<td class="text-right">{{order.order_id}}</td>
						<td class="text-right">{{order.status}}</td>
						<td class="text-right">${{order.shipping_total}}</td>
						<td class="text-right">${{order.total}}</td>
					</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>
	</div>
</section>

{% endblock %}
