{% extends "base2.html" %}
{% block content %}
<div class="sign-in-page">
	<div class="row">
<form method="post" action=""> {% csrf_token %}
	<div class="form-group">
	<p>
		<label for="id_new_password1">New password:</label>
		<input type="password" name="new_password1" id="id_new_password1" class="form-control unicase-form-control text-input"  required="">
		<span class="helptext">
		</span>
	</p>
	</div>
	<ul>
		<li>Your password can't be too similar to your other personal information.</li>
		<li>Your password must contain at least 8 characters.</li>
		<li>Your password can't be a commonly used password.</li>
		<li>Your password can't be entirely numeric.</li>
	</ul>
	<p></p>
	<div class="form-group">
	<p>
		<label for="id_new_password2">New password confirmation:</label>
		<input type="password" name="new_password2" id="id_new_password2" class="form-control unicase-form-control text-input"
		required=""></p>
		</div>
	<span style="margin-bottom: 12px;"></span>
	<button type="submit" class="btn btn-block btn-info">Set new password</button>
</form>
</div>
</div>


{% endblock %}





<div class="sign-in-page">
	<div class='row'>
		<div class='col-md-4 col-10  mx-auto'>
			<h1>Set your Password</h1>
			<form method='post' action=''>{% csrf_token %}
				{{ form.as_p }}
				<span style='margin-bottom: 12px;'></span>
				<button type="submit" class='btn btn-block btn-info'>Set new password</button>
			</form>
		</div>
	</div>
</div>
