{% extends "base.html" %}
{% block content %}
<div class="sign-in-page">
	<div class="row">
		<form method="post" action="" class="register-form outer-top-xs" role="form"> {% csrf_token %}
			<div class="form-group">
				<p>
					<label for="id_old_password"><b>Old password:</b></label>
					<input type="password" name="old_password" id="id_old_password" class="form-control unicase-form-control text-input" required="" autofocus="">
				</p>
			</div>


			<p>
				<label for="id_new_password1"><b>New password:</b></label>
				<input type="password" name="new_password1" id="id_new_password1" class="form-control unicase-form-control text-input" required=""> <span class="helptext"></span></p>
			<ul>
				<li>Your password can't be too similar to your other personal information.</li>
				<li>Your password must contain at least 8 characters.</li>
				<li>Your password can't be a commonly used password.</li>
				<li>Your password can't be entirely numeric.</li>
			</ul>
			<p></p>
			<p><label for="id_new_password2"><b>New password confirmation:</b></label>
				<input type="password" name="new_password2" id="id_new_password2" class="form-control unicase-form-control text-input" required=""></p>
			<span style="margin-bottom: 12px;"></span>
			<button type="submit" class="btn btn-block btn-info">Save</button>
		</form>
	</div>
</div>


{% endblock %}
