{% extends "base2.html" %}
{% block content %}
<div class="sign-in-page">
	<div class="row">
		<h2> Reset Your Password </h2>
		<form method="post" action=""> {% csrf_token %}
			<div class="form-group">
			<p>
				<label for="id_email">Email:</label>
				<input type="email" name="email" maxlength="254" id="id_email" class="form-control unicase-form-control text-input" required="">
			</p>
			</div>
			<span style="margin-bottom: 12px;"></span>
			<button type="submit" class="btn btn-block btn-info">Reset Password</button>
		</form>
	</div>
</div>

{% endblock %}
