{% extends "base2.html" %}

{% load staticfiles %}
{% block content %}

<!-- User is in system Or No -->
{% if not billing_profile %}
<div class="sign-in-page">
	<div class='row text-center'>
		<div class="col-md-6 col-sm-6 sign-in">
			<p class=''>Login</p>
			{% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
		</div>
		<div class="col-md-6 col-sm-6 sign-in">
			<p class=""><b>Continue as Guest</b></p>

			{% url "guest_register" as guest_register_url %}
			{% include 'accounts/snippets/form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
		</div>

	</div>
</div>

{% else %}
<!-- Check if user  has a shipping address prfile or not -->
{% if not object.shipping_address and shipping_address_required %}

<div class='row'>
	<div class='col-12'>
		<!-- <p class='lead'>Shipping Address</p> -->
		<ul class="checkout-progress-bar">
			<li class="active">
				<span>Shipping address</span>
			</li>
			<li>
				<span>billing address;</span>
			</li>
		</ul>
		<hr />
	</div>
	<div class='col-6'>

		{% url "checkout_address_create" as checkout_address_create %}
		{% include 'addresses/form1.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}'
	</div>
	<div class='col-6'>
		{% url 'checkout_address_reuse' as checkout_address_reuse %}
		{% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='shipping' action_url=checkout_address_reuse %}
	</div>
</div>


{% elif not object.billing_address %}
<div class='row'>
	<div class='col-12'>
		<main class="main">
			<nav aria-label="breadcrumb" class="breadcrumb-nav">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index-2.html"><i class="icon-home"></i></a></li>
						<li class="breadcrumb-item active" aria-current="page">Checkout</li>
					</ol>
				</div><!-- End .container -->
			</nav>
			<ul class="checkout-progress-bar">
				<li class="active">
					<span>Shipping address</span>
				</li>
				<li class="active">
					<span>Billing address</span>
				</li>
				<li>
					<span>payment Method</span>
				</li>
			</ul>
		</main>
		<hr />
	</div>
	<div class='col-6'>

		{% url "checkout_address_create" as checkout_address_create %}
		{% include 'addresses/form1.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing' %}
	</div>
	<div class='col-6'>
		{% url 'checkout_address_reuse' as checkout_address_reuse %}
		{% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='billing' action_url=checkout_address_reuse %}
	</div>


</div>
{% else %}
{% if not has_card %}
<div class="container">
	<ul class="checkout-progress-bar">
		<li class="active">
			<span>Shipping address</span>
		</li>
		<li class="active">
			<span>Billing address</span>
		</li>
		<li class="active">
			<span>payment Method</span>
		</li>
		<li>
			<span>Finalize checkout</span>
		</li>
	</ul <!-- enter credit card here -->
	<div class='stripe-payment-form' data-token="{{publish_key}}" data-next-url='{{ request.build_absolute_uri }}' data-btn-title='Add Payment Method'></div>
</div>
{% else %}
<div class="container">
	<center>
	<ul class="checkout-progress-bar">
		<li class="active">
			<span>Shipping address</span>
		</li>
		<li class="active">
			<span>Billing address</span>
		</li>
		<li class="active">
			<span>payment Method</span>
		</li>
		<li class="active">
			<span>Finalize checkout</span>
		</li>
	</ul>
	</center>
	 <div class="row">
	<div class="col-lg-8">
		<ul class="checkout-steps">
			<li>
				<h2 class="step-title">Shipping Address</h2>

				<div class="shipping-step-addresses">
					<div class="shipping-address-box active">
						<a href="#" class="btn btn-block btn-primary">Shipping Address </a>
						<address>
							{{ object.billing_address_final }}
						</address>

						<div class="address-box-action clearfix">
							<a href="#" class="btn btn-sm btn-link">
								Edit
							</a>

							<a href="#" class="btn btn-sm btn-outline-secondary float-right">
								Ship Here
							</a>
						</div><!-- End .address-box-action -->

					</div><!-- End .shipping-address-box -->
					<div class="shipping-address-box active">
						<a href="#" class="btn btn-block btn-primary">Billing Address </a>
						<address>
							{{ object.shipping_address_final }}
						</address>

						<div class="address-box-action clearfix">
							<a href="#" class="btn btn-sm btn-link">
								Edit
							</a>

							<a href="#" class="btn btn-sm btn-outline-secondary float-right">
								Ship Here
							</a>
						</div><!-- End .address-box-action -->
					</div><!-- End .shipping-address-box -->
					<div class="shipping-address-box active">
						<a href="#" class="btn btn-block btn-primary">SHIPPING METHOD</a>
						<address>
							<p>Cart Total: {{ object.cart.total }}</p>
							<p>Shipping Total: {{ object.shipping_total }}</p>
						</address>

						<div class="address-box-action clearfix">
							<a href="#" class="btn btn-sm btn-link">
								Edit
							</a>

							<a href="#" class="btn btn-sm btn-outline-secondary float-right">
								Ship Here
							</a>
						</div><!-- End .address-box-action -->
					</div><!-- End .shipping-address-box -->
					<div class="shipping-address-box active">
						<a href="#" class="btn btn-block btn-primary">PAYMENT INFORMATION</a>
						<address>
							<p>Payment Method: {{ billing_profile.default_card }} (<a href="{{ billing_profile.get_payment_method_url }}?next={{ request.build_absolute_uri }}">Change</a>)</p>
						</address>

						<div class="address-box-action clearfix">
							<a href="#" class="btn btn-sm btn-link">
								Edit
							</a>

							<a href="#" class="btn btn-sm btn-outline-secondary float-right">
								Ship Here
							</a>
						</div><!-- End .address-box-action -->
					</div><!-- End .shipping-address-box -->
					<div class="shipping-address-box active">
						<a href="#" class="btn btn-block btn-primary">ORDER REVIEW</a>
						<address>
							<p>Order Total: {{ object.total }}</p>
							<p>Cart Items:<b> {% for product in object.cart.products.all %}{{ product }}{% if not forloop.last %}, {% endif %}{% endfor %}</b></p>
						</address>

						<div class="address-box-action clearfix">
							<a href="#" class="btn btn-sm btn-link">
								Edit
							</a>

							<a href="#" class="btn btn-sm btn-outline-secondary float-right">
								Ship Here
							</a>
						</div><!-- End .address-box-action -->
					</div><!-- End .shipping-address-box -->
				</div><!-- End .shipping-step-addresses -->
				<form method="POST" action=""> {% csrf_token %}
				<button class="btn  btn-outline-primary "  type="submit"> place older</button>
				</form>
			</li>
		</ul>
	</div><!-- End .col-lg-8 -->

	<div class="col-lg-4">
		<div class="order-summary">
			<h3>Summary</h3>

			<h4>
				<a data-toggle="collapse" href="#order-cart-section" class="collapsed" role="button" aria-expanded="false" aria-controls="order-cart-section">
					{% if object.cart.products.count == 1 %}
					{{object.cart.products.count}} product in Cart
					{% else %}
					{{object.cart.products.count}} products in Cart
					{% endif %}

				</a>
			</h4>

			<div class="collapse" id="order-cart-section">
				<table class="table table-mini-cart">
					<tbody>
						{% for product in object.cart.products.all %}
						<tr>
							<td class="product-col">
								<figure class="product-image-container">
									<a href="product.html" class="product-image">
										<img src="{{product.image.url}}" alt="product">
									</a>
								</figure>
								<div>
									<h2 class="product-title">
										<a href="{{product.get_absolute_url}}">{{ product }}</a>
									</h2>
								</div>
							</td>
							<td class="price-col">${{product.price}}<td>
						</tr>
						{% if not forloop.last %} {% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div><!-- End #order-cart-section -->
		</div><!-- End .order-summary -->
	</div><!-- End .col-lg-4 -->
</div><!-- End .row -->
</div>

{% endif %}
{% endif %}
{% endif %}



{% endblock %}
