{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}
<main class="main">
	<nav aria-label="breadcrumb" class="breadcrumb-nav">
			<div class="container">
					<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'account:home' %}"><i class="icon-home"></i></a></li>
							<li class="breadcrumb-item active" aria-current="page">Adresses</li>
					</ol>
			</div><!-- End .container -->
	</nav>
	<div class="container">
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">address line 1</th>
			<th scope="col">address line 2</th>
			<th scope="col">country</th>
			<th scope="col">type address</th>
			<th scope="col">Edit</th>
		</tr>
	</thead>
	<tbody>
		{% for obj in object_list %}
		<tr>
			<th scope="row">{{forloop.counter}}</th>
			<td>{{obj.address_line_1}}</td>
			<td>{{obj.address_line_2}}</td>
			<td>{{obj.country}}</td>
			<td>{{obj.get_address_type_display}}</td>
			<td><a href="{{obj.get_absolute_url}}">edit</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>
</main>
{% endblock %}


<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="home.html">Home</a></li>
				<li class='active'>Compare</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->

<div class="product-comparison">
	<div>
		<h1 class="page-title text-center heading-title">list of addresses</h1>
		<div class="table-responsive">
			<table class="table compare-table inner-top-vs">
				{% for obj in object_list %}
				<tr>
					<th>address{{forloop.counter}}</th>
					<td>
						<div class="product">
							<div class="product-image">
								<div class="image">
									<a href="detail.html">
										{{obj.address_line_1}}
									</a>
								</div>

							</div>
						</div>
					</td>

					<td>
						<div class="product">
							<div class="product-image">
								<div class="image">
									<a href="detail.html">
										{{obj.address_line_2}}
									</a>
								</div>

							</div>
						</div>
					</td>

					<td>
						<div class="product">
							<div class="product-image">
								<div class="image">
									<a href="detail.html">
										{{obj.state}}
									</a>
								</div>

							</div>
						</div>
					</td>

					<td>
						<div class="product">
							<div class="product-image">
								<div class="image">
									<a href="detail.html">
										{{obj.country}}
									</a>
								</div>


							</div>
						</div>
					</td>
					<td>
						<div class="product">
							<div class="product-image">
								<div class="image">
									<a href="detail.html">
										{{obj.get_address_type_display}}
									</a>
								</div>


							</div>
						</div>
					</td>
					<td>
						<div class="product">
							<div class="product-image">
								<div class="image">
									<a href="{{ obj.get_absolute_url }}">
										<span><i class="fa fa-edit"></i></span>
									</a>
								</div>


							</div>
						</div>
					</td>
				</tr>

				{% endfor %}
			</table>
			<div class="col-md-12 outer-bottom-small m-t-20">
				<a href='{% url "address-create" %}'> <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Create new address</button></a>
			</div>
		</div>
	</div>
</div>
