<tr>
	<td class="col-md-2"><img src="{{instance.image.url}}" alt="imga"></td>
	<td class="col-md-7">
		<div class="product-name"><a href="#">{{instance.title}}</a></div>
		<div class="rating">
			<i class="fa fa-star rate"></i>
			<i class="fa fa-star rate"></i>
			<i class="fa fa-star rate"></i>
			<i class="fa fa-star rate"></i>
			<i class="fa fa-star non-rate"></i>
			<span class="review">( 06 Reviews )</span>
		</div>
		<div class="price">
			{{instance.price}}
			<span>$900.00</span>
		</div>
	</td>
	<td class="col-md-2">
		<!-- <a href="#" class="btn-upper btn btn-primary">Add to cart</a> -->
		<a href="#" class="btn-upper btn btn-primary">{{instance.pretty_date}}</a>
	</td>
	<td class="col-md-1 close-btn">
		<!-- <a href="#" class=""><i class="fa fa-times"></i></a> -->
	</td>
</tr>
